$TTL 3h

@ IN SOA ns1.{{ domain_name}}. {{ admin_email }}. (
        6
        3h
        1h
        1w
        1h )

 IN NS ns1.{{ domain_name}}.
 IN NS ns2.{{ domain_name}}.

ns1 IN A {{ ansible_default_ipv4.address }}
ns2 IN A {{ ansible_default_ipv4.address }}

{{ domain_name}}. IN A {{ ansible_default_ipv4.address }}
www.{{ domain_name }}. IN CNAME {{ domain_name }}.

{% if include_google_apps == 'true' %}
; mail server records
{{ domain_name}}. IN MX 10 ASPMX.L.GOOGLE.COM.
{{ domain_name}}. IN MX 20 ALT1.ASPMX.L.GOOGLE.COM.
{{ domain_name}}. IN MX 20 ALT2.ASPMX.L.GOOGLE.COM.
{{ domain_name}}. IN MX 30 ASPMX2.GOOGLEMAIL.COM.
{{ domain_name}}. IN MX 30 ASPMX3.GOOGLEMAIL.COM.
{{ domain_name}}. IN MX 30 ASPMX4.GOOGLEMAIL.COM.
{{ domain_name}}. IN MX 30 ASPMX5.GOOGLEMAIL.COM.

{% endif %}

{% for raw_host in records %}
{% set host = raw_host.split() %}
{{ host[0] }} IN {{ host[1] }} {{ host[2] }}
{% endfor %}
